
body {
    margin: 0;
    padding: 0;
}


table{
    width: 100%;
    text-transform: uppercase;
    border-collapse: collapse;

}
td,th{
    border-left: 2px solid #cacaca;
    border-right: 2px solid #cacaca;
    border-collapse: collapse;

    height: 70px;
    background-color: #fafafa;
    font-family: Arimo, sans-serif;
    text-align: center;
}

.bgc{
    width: 1150px;
    padding: 20px;
    background-color: #384762;
}

/*1st ROW*/

.r1-c1{
    width: 310px;
    border-bottom: 1px solid #fafafa;
    border: none;

    vertical-align: bottom;
    font-size: 18px;
    color: #484848;
}

.r1-c2{
    width: 280px;
    background-color: #89c331;
    border: none;

    font-size: 24px;
    color: white;

}

.r1-c3{
    width: 280px;
    background-color: #f04a56;
    border: none;

    font-size: 30px;
    color: white;
}

.r1-c4{
    width: 280px;
    background-color: #20807c;
    border: none;

    font-size: 24px;
    color: white;
}

.r2-c1{
    height: 85px;

    vertical-align: top;
    font-size: 30px;
    color: #484848;

}

.r2-c2,.r2-c3,.r2-c4{
    font-size: 60px;
    font-weight: 700;
    text-align: right;

}
.cost{
    position: relative;
    left: 15px;
}

.cost:before{
    content: "$";
    font-size: 60px;
    position: relative;
    left: 1px;
}


.cent{
    font-size: 24px;
    position: relative;
    top: -25px;
}

.per-mon{
    font-size: 18px;
    position: relative;
    left: -30px;
}
.r3,.r5,.r9{
    text-align: center;
    background-color: #f2f2f2;
    color: #484848;
    font-size: 16px;
}

.r4,.r6,.r8{
    text-align: center;
    background-color: #e3e3e3;
    color: #484848;
    font-size: 16px;
}

.r9{
    height: 100px;
    font-weight: 700;
}

.fa{
    color: #848484;
    font-size: 24px;
}
.button{
    display: inline-block;
    width: 190px;
    /*border: 1px solid red;*/
    padding: 15px 0 5px;
    text-decoration: none;
    color: white;
}

.button:hover{
    color: orange;
    font-size: 30px;

}

.button-first-row{
    background-color: #484848;
    border-bottom: 10px solid #404040;
    border-radius: 4px;
}

.button-second-row{
    background-color: #89c331;
    border-bottom: 10px solid #79b027;
    border-radius: 4px;
}

.button-three-row{
    background-color: #f04a56;
    border-bottom: 10px solid #df3a46;
    border-radius: 4px;
}

.button-four-row{
    background-color: #20807c;
    border-bottom: 10px solid #16736f;
    border-radius: 4px;
}


